
{% include "extensions/navbarTab.html.twig" %}

<div class="content-wrapper">
    <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-2">
              </div>
              <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Ajouter un service</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                    
                      <div class="row">
                        
                            <div class="col-md-6"> 
                                 <form method="POST" >
                                      {{ include('services/_form.html.twig') }}
                                  </form>
                            </div>
                         
                          <div class="col-md-6"> <br>
                                <table class="table"> 
                                        <thead>
                                            <tr class="text-center">
                                                <th>Id</th>
                                                <th>Designation</th>
                                                <th>Active</th>
                                                <th>actions</th>
                                            </tr>
                                        </thead>
                                        {% for service in services %}
                                            <tr class="text-center">
                                                <td>{{ service.id }}</td>
                                                <td>{{ service.designation }}</td>
                                                <td>{{ service.active ? 'Yes' : 'No' }}</td>
                                                <td>
                                                    <a href="{{ path('app_services_show', {'id': service.id}) }}" class="btn btn-outline-primary">show</a>
                                                    <a href="{{ path('app_services_edit', {'id': service.id}) }}" class=" btn btn-outline-warning">edit</a>
                                                     <a href="{{ path('app_services_new') }}" class="btn btn-outline-info">Create new</a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="4">no records found</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                </table>
                          </div>
                  </div>
                </div>
              </div>
           </div>
         </div>
    </section>
    </div>
