{% include "extensions/navbarTab.html.twig" %}

<div class="content-wrapper">
    <section class="content">
    <div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-2">
        </div>
        <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            {# <div class="card-header">
            <h3 class="card-title">Ajouter un service</h3>
            </div> #}
            <!-- /.card-header -->
            <!-- form start -->
            
<div class="row">
 <div class="col-md-12"> <br>
   <table class="table  bg-blue-sky"> 
        <thead class="table  bg-blue">
            <tr>
                <th>Id</th>
                <th>NomClient</th>
                <th>AdresseClient</th>
                <th>Telephone</th>
                <th>VilleResidance</th>
                <th>AdresseEmail</th>
                <th>actions</th>
            </tr>
        </thead>
         <tbody>
            {% for categorie_vehicule in clients %}
                <tr>
                    <td>{{ categorie_vehicule.id }}</td>
                    <td>{{ categorie_vehicule.nomClient }}</td>
                    <td>{{ categorie_vehicule.adresseClient }}</td>
                    <td>{{ categorie_vehicule.telephone }}</td>
                    <td>{{ categorie_vehicule.villeResidance }}</td>
                    <td>{{ categorie_vehicule.adresseEmail }}</td>
                    <td>
                        <a href="{{ path('app_client_show', {'id': categorie_vehicule.id}) }}">show</a>
                        <a href="{{ path('app_client_edit', {'id': categorie_vehicule.id}) }}">edit</a>
                    </td>
                </tr>
             {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
     </table>
       </div>
    </div>     
   </div>
</div>
    </div>
    </div>
</section>
 </div>
