
 {{ include("extensions/navbar.html.twig") }}

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Compte Client</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-white">Compte client</li>
        </ol>
    </div> <br>
    <!-- Single Page Header End -->
 

    <!-- Checkout Page Start -->
    <div class="row">
         
             <div class="col-md-3"> 
                 {# {{ include("extensions/categorie.html.twig") }} #}
             </div>
            <div class="col-md-8">
                   <form action="" method="post">
                        {{ include('client/_form.html.twig') }}
                   </form>
                 <div class="col-md-12 col-lg-6">
                        <a href="{{path('app_client_index')}}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary">  </i>j'ai un compte</a>
                 </div>
            </div>
            <div class="col-md-2"> 
                 {# {{ include("extensions/categorie.html.twig") }} #}
            </div>
    </div> <br>
  {{ include("extensions/footer.html.twig") }}
    <!-- Checkout Page End -->