{% extends 'base.html.twig' %}

{% block title %}CategorieVehicule index{% endblock %}

{% block body %}
    <h1>CategorieVehicule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomCategorie</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_vehicule in categorie_vehicules %}
            <tr>
                <td>{{ categorie_vehicule.id }}</td>
                <td>{{ categorie_vehicule.nomCategorie }}</td>
                <td>{{ categorie_vehicule.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_categorie_vehicule_show', {'id': categorie_vehicule.id}) }}">show</a>
                    <a href="{{ path('app_categorie_vehicule_edit', {'id': categorie_vehicule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_vehicule_new') }}">Create new</a>
{% endblock %}
